<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align = "center"> Bienvenidos al Laboratorio parte 2</h1> 
    <p> 
      <img src = "images/git">
      <img src = "images/hero">
    </p>
    <a 
      class = "botonGit" href= "https://github.com/Gadeschii/LaboratorioSAT2Session.git">
      <button> GitHub </button>
    </a>
  </body>
</html>
