<!DOCTYPE html>
<html>
  <head>
    <title> ULPGC </title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1 align = "center"> Bienvenidos al Laboratorio parte 2</h1> 
    <p> 
    <h2 align = "center">
      <img src = "images/git.jpeg" width="300" heigth = "300" >
      <img src = "images/hero.png" width="300" heigth = "300" >
    </h2>
    </p>
    <h3 align = "center">
    <a 
      href= "https://github.com/Gadeschii/LaboratorioSAT2Session.git">
      <button> GitHub </button>
    </h3>
    </a>
  </body>
</html>
