<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align = "center"> Bienvenidos al Laboratorio parte 2</h1> 
    <p> 
      <img src = "images/img 1.jpg">
      <img src = "images/img 2.jpg">
    </p>
    <a> 
      href = "https://es.wikipedia.org/wiki/HTML">
      <button> HTML Wikipedia </button>
    </a>
    <a>
      href = "https://es.wikipedia.org/wiki/CSS">
      <button> CSS Wikipedia </button>
    </a>
  </body>
</html>
